@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,700,100italic,300italic,400italic,700italic);

body {
    padding-top: 0;
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #64686d;
    line-height: 26px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: #272727;
}

a {
    color: #45aed6;
    -webkit-transition: color 400ms, background-color 400ms;
    -moz-transition: color 400ms, background-color 400ms;
    -o-transition: color 400ms, background-color 400ms;
    transition: color 400ms, background-color 400ms;
}

    a:hover,
    a:focus {
        text-decoration: none;
        color: #2a95be;
    }

hr {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #fff;
}

.gradiant {
    background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
    background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
    background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
}

#droplinetabs1.fixed {
    position: fixed;
    z-index: 1000;
    background: #fff;
    width: 100%;
    top: 0;
        left: 0;
}
header .navbar-default{
    background: transparent;
}
#droplinetabs1.fixed .menu-header-container {
    display: table;
margin: 0 auto;
}
.gradiant-horizontal {
    background-image: -moz-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
    background-image: -webkit-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
    background-image: -ms-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
}
.counter_visitor span {
    background: transparent!important;
    border: none!important;
    color: #fff!important;
    padding-left: 0!important;
    margin: 0!important;
    width: auto!important;
    padding-right: 0!important;
    font-size: 16px!important;
}
.counter_visitor span.text {
    margin-left: 5px!important;
}
.section-header {
    margin-bottom: 15px;
}

    .section-header p.section-header-desc {
        width: 100%;
        color: #ccc;
        text-align: center;
    }

    .section-header .section-title {
        font-size: 25px;
        color: #272727;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 20px;
        margin: 0 0 20px;
    }

        .section-header .section-title:before {
            /*content: "";
  position: absolute;
  width: 140px;
  bottom: 0;
  left: 50%;
  margin-left: -70px;
  height: 1px;
  background: #ebebeb;*/
        }

        .section-header .section-title:after {
            content: "";
            position: absolute;
            width: 60px;
            height: 24px;
            bottom: -11px;
            margin-left: -12px;
            /*border: 5px solid #fff;*/
            /*border-radius: 20px;*/
            /*background: #45aed6;*/
            background: #fff url(../assets/icon.png) no-repeat top center;
            left: 50%;
            margin: auto;
            transform: translate(-50%, 0px);
        }

.btn {
    border-width: 0;
    border-bottom-width: 3px;
    border-radius: 3px;
}

    .btn.btn-primary {
        background: #45aed6;
        border-color: #2a95be;
    }

        .btn.btn-primary:hover,
        .btn.btn-primary:focus {
            background: #2a95be;
        }

.column-title {
    margin-top: 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
    position: relative;
    font-weight: normal;
}

    .column-title:after {
        content: " ";
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 40%;
        border-bottom: 1px solid #45aed6;
    }

ul.nostyle {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

    ul.nostyle i {
        color: #45aed6;
    }

.scaleIn {
    -webkit-animation-name: scaleIn;
    animation-name: scaleIn;
}

@-webkit-keyframes scaleIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scaleIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}
/*************************
*******Header******
**************************/
.navbar.navbar-default {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
}

    .navbar.navbar-default .navbar-toggle {
        margin-top: 32px;
    }

    .navbar.navbar-default .navbar-brand {
        height: auto;
        padding: 5px 5px;
        float: left;
    }

#main-menu {
    margin-top: -10px;
}

.navbar-right {
    line-height: 92px;
    vertical-align: middle;
}

    .navbar-right ul {
        margin-bottom: 0;
    }

.navbar-brand-title {
    float: left;
    padding-left: 20px;
    padding-top: 20px;
}

    .navbar-brand-title h4 {
        padding-top: 0;
        margin-top: 0;
        color: #272A76;
        margin-bottom: 5px;
        font-size: 14pt;
        text-transform: uppercase;
    }

    .navbar-brand-title p {
        color: #EE3967;
        font-size: 12pt;
    }

@media only screen and (min-width: 768px) {
    #main-menu.navbar-default {
        /*background: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);*/
        background-color: transparent;
    }

        #main-menu.navbar-default .navbar-nav > li > a {
            padding: 13px 15px 10px 15px;
        }

        #main-menu.navbar-default .navbar-nav > li.active > a,
        #main-menu.navbar-default .navbar-nav > li.open > a,
        #main-menu.navbar-default .navbar-nav > li.scroll:hover > a {
            background: transparent;
            padding-top: 7px;
            border-top: 3px solid #45aed6;
            color: #45aed6;
        }

        #main-menu.navbar-default .navbar-nav > li:hover > a,
        #main-menu.navbar-default .navbar-nav > li.current_page_item > a,
        #main-menu.navbar-default .navbar-nav > li.current-page-parent > a {
            background: transparent;
            padding-top: 10px;
            border-top: 3px solid #45aed6;
            color: #45aed6;
        }
        /*#main-menu.navbar-default .navbar-nav > li:last-child > a {
    background: transparent;
    padding-top: 32px;
    border-top: none;
  }*/
        #main-menu.navbar-default .dropdown-menu {
            padding: 0 20px;
            min-width: 220px;
            background-color: rgba(26, 28, 40, 0.9);
            border: 0;
            border-radius: 0;
            box-shadow: none;
            -webkit-box-shadow: none;
            background-clip: inherit;
        }

            #main-menu.navbar-default .dropdown-menu > li {
                border-left: 3px solid transparent;
                margin-left: -20px;
                padding-left: 17px;
                -webit-transition: border-color 400ms;
                transition: border-color 400ms;
            }

                #main-menu.navbar-default .dropdown-menu > li > a {
                    border-top: 1px solid #404455;
                    padding: 15px 0;
                    color: #eeeeee;
                }

                #main-menu.navbar-default .dropdown-menu > li:first-child > a {
                    border-top: 0;
                }

                #main-menu.navbar-default .dropdown-menu > li.active,
                #main-menu.navbar-default .dropdown-menu > li.open,
                #main-menu.navbar-default .dropdown-menu > li:hover {
                    border-left-color: #45aed6;
                }

                    #main-menu.navbar-default .dropdown-menu > li.active > a,
                    #main-menu.navbar-default .dropdown-menu > li.open > a,
                    #main-menu.navbar-default .dropdown-menu > li:hover > a {
                        color: #45aed6;
                        background-color: transparent;
                    }
}

#main-slider {
    overflow: hidden;
}
#main-slider .slider-inner h2, #main-slider .slider-inner p {
    color: #f7931d;
}
#main-slider .slider-inner p {
    font-size: 16px;
}
@media screen and (min-width: 800px) {
    #main-slider .item {
        height: 558px;
        margin-left: auto;
        margin-right: auto;
        background-position: center !important;
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: contain;
    }

    #main-slider .slider-inner h2 {
        margin-top: 180px;
        font-size: 36px;
        line-height: 1;
        text-transform: uppercase;
        color: #f7931d;
    }
}
/*6s Plus*/
@media screen and (max-width: 414px) {
    #main-slider .item {
        height: 150px;
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: contain;
    }

    #main-slider .slider-inner h2 {
        margin-top: 20px;
        font-size: 1.1em;
        line-height: 1;
        text-transform: uppercase;
        color: #fff;
    }
}

@media screen and (max-width: 795px) and (min-width: 415px) {
    #main-slider .item {
        height: 400px;
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
    }

    #main-slider .slider-inner h2 {
        margin-top: 30px;
        font-size: 3em;
        line-height: 1;
        text-transform: uppercase;
    }

    #main-slider .slider-inner p {
        font-size: 1.2em;
    }
}

#main-slider .slider-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
}

    #main-slider .slider-inner h2 > span {
        color: #45aed6;
    }

    #main-slider .slider-inner .btn {
        margin-top: 10px;
    }

#main-slider .owl-prev,
#main-slider .owl-next {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 30px;
    display: inline-block;
    margin-top: -35px;
    height: 70px;
    width: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 100px;
    z-index: 5;
    -webkit-transition: background-color 400ms;
    transition: background-color 400ms;
}

    #main-slider .owl-prev:hover,
    #main-slider .owl-next:hover {
        background-color: #45aed6;
    }

#main-slider .owl-prev {
    left: -5px;
    /*text-indent: 14px;*/
}

#main-slider .owl-next {
    right: -5px;
    /*text-indent: -14px;*/
}

#bar, #barGallery {
    width: 0%;
    max-width: 100%;
    height: 4px;
    background: #45aed6;
}

#progressBar, #progressBarGallery {
    margin-top: -4px;
    position: relative;
    z-index: 999;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
}

#cta {
    padding: 50px 0;
    background-color: #eeeeee;
}

    #cta h2 {
        margin-top: 0;
    }

    #cta .btn {
        margin-top: 40px;
    }

#cta2 {
    background: #242a33 url(../images/cta2/cta2-bg.jpg) no-repeat 50% 50%;
    background-size: cover;
    color: #fff;
    padding-top: 70px;
}

    #cta2 .btn {
        margin-top: 10px;
    }

    #cta2 h2 {
        color: #fff;
        font-size: 44px;
        line-height: 1;
    }

        #cta2 h2 > span {
            color: #45aed6;
        }

#features {
    padding: 100px 0;
}

    #features .media.service-box:first-child {
        margin-top: 80px;
    }

#services {
    padding: 40px 0 10px;
}
#service .owl-theme .owl-controls {
    display: none;
}

.media.service-box {
    margin: 10px 0 20px;
    padding-left: 10px;
}

    .media.service-box .pull-left {
        /*margin-right: 20px;*/
        margin-right: 0;
    }

        .media.service-box .pull-left > i, .media.service-box .pull-left i {
            font-size: 24px;
            height: 64px;
            line-height: 64px;
            text-align: center;
            width: 64px;
            border-radius: 100%;
            color: #45aed6;
            box-shadow: inset 0 0 0 1px #d7d7d7;
            -webkit-box-shadow: inset 0 0 0 1px #d7d7d7;
            transition: background-color 400ms, background-color 400ms;
            position: relative;
        }

            .media.service-box .pull-left > i:after, .media.service-box .pull-left i:after {
                content: "";
                position: absolute;
                width: 20px;
                height: 20px;
                top: 50%;
                margin-top: -10px;
                right: -10px;
                border: 4px solid #45aed6;
                border-radius: 20px;
                background: #fff;
                display: none;
            }

    .media.service-box:hover .pull-left > i, .media.service-box:hover .pull-left i {
        background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
        background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
        background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
        color: #fff;
        box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.8);
        -webkit-box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.8);
    }

#portfolio {
    padding: 100px 0;
    background: #f5f5f5;
}

    #portfolio .portfolio-filter {
        list-style: none;
        padding: 0;
        margin: 0 0 50px;
        display: inline-block;
    }

        #portfolio .portfolio-filter > li {
            float: left;
            display: block;
        }

            #portfolio .portfolio-filter > li a {
                display: block;
                padding: 7px 15px;
                background: #e5e5e5;
                color: #64686d;
                position: relative;
            }

                #portfolio .portfolio-filter > li a:hover,
                #portfolio .portfolio-filter > li a.active {
                    background: #45aed6;
                    color: #fff;
                    box-shadow: 0 -3px 0 0 #318daf inset;
                    -webkit-box-shadow: 0 -3px 0 0 #318daf inset;
                }

                    #portfolio .portfolio-filter > li a.active:after {
                        content: " ";
                        position: absolute;
                        bottom: -17px;
                        left: 50%;
                        margin-left: -10px;
                        border-width: 10px;
                        border-style: solid;
                        border-color: #318daf transparent transparent transparent;
                    }

            #portfolio .portfolio-filter > li:first-child a {
                border-radius: 4px 0 0 4px;
            }

            #portfolio .portfolio-filter > li:last-child a {
                border-radius: 0 4px 4px 0;
            }

    #portfolio .portfolio-items {
        margin: -15px;
    }

    #portfolio .pnt-3department {
        text-align: center;
        margin-left: 15%;
    }

    #portfolio .portfolio-item {
        width: 24.9%;
        float: left;
        padding: 15px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }

        #portfolio .portfolio-item .portfolio-item-inner {
            position: relative;
        }

            #portfolio .portfolio-item .portfolio-item-inner .portfolio-info {
                opacity: 0;
                transition: opacity 400ms;
                -webkit-transition: opacity 400ms;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 10px;
                background: rgba(0, 0, 0, 0.5);
                color: #fff;
            }

                #portfolio .portfolio-item .portfolio-item-inner .portfolio-info h3 {
                    font-size: 16px;
                    line-height: 1;
                    margin: 0;
                    color: #fff;
                }

                #portfolio .portfolio-item .portfolio-item-inner .portfolio-info .preview {
                    position: absolute;
                    top: -18px;
                    right: 12px;
                    border-radius: 50%;
                    background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
                    background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
                    background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
                    width: 36px;
                    height: 36px;
                    line-height: 36px;
                    text-align: center;
                    color: #fff;
                    box-shadow: 0 0 0 2px #fff;
                    -webkit-box-shadow: 0 0 0 2px #fff;
                }

        #portfolio .portfolio-item:hover .portfolio-info {
            opacity: 1;
        }
/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

    .isotope .isotope-item {
        -webkit-transition-property: -webkit-transform, opacity;
        -moz-transition-property: -moz-transform, opacity;
        -ms-transition-property: -ms-transform, opacity;
        -o-transition-property: -o-transform, opacity;
        transition-property: transform, opacity;
    }
        /**** disabling Isotope CSS3 transitions ****/
        .isotope.no-transition,
        .isotope.no-transition .isotope-item,
        .isotope .isotope-item.no-transition {
            -webkit-transition-duration: 0s;
            -moz-transition-duration: 0s;
            -ms-transition-duration: 0s;
            -o-transition-duration: 0s;
            transition-duration: 0s;
        }
    /* End: Recommended Isotope styles */
    /* disable CSS transitions for containers with infinite scrolling*/
    .isotope.infinite-scrolling {
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none;
    }

#testimonial {
    background: #333333 url(../images/testimonial/bg.jpg) no-repeat 0 0;
    background-size: cover;
    padding: 100px 0;
    color: #fff;
}

    #testimonial h4 {
        color: #fff;
        margin-bottom: 0;
    }

    #testimonial small {
        display: block;
        margin-bottom: 10px;
        color: rgba(255, 255, 255, 0.7);
    }

    #testimonial .btns {
        margin-top: 10px;
    }

#about {
    padding: 40px 0;
}

#work-process {
    padding: 100px 0 50px;
    background: #20222e url(../images/work-process/bg.jpg) no-repeat 0 0;
    background-size: cover;
    color: #fff;
}

    #work-process h2 {
        color: #fff;
    }

    #work-process h3 {
        color: #fff;
        margin-bottom: 0;
    }

    #work-process .icon-circle {
        display: inline-block;
        width: 80px;
        height: 80px;
        line-height: 80px;
        border: 2px solid #45aed6;
        border-radius: 100px;
        position: relative;
    }

        #work-process .icon-circle > span {
            border-style: solid;
            border-width: 2px;
            border-color: #45aed6;
            border-radius: 50%;
            background-color: #fff;
            position: absolute;
            width: 24px;
            height: 24px;
            line-height: 20px;
            top: -12px;
            color: #64686d;
        }

    #work-process h3 {
        margin-bottom: 50px;
    }

#meet-team {
    padding: 100px 0;
}

    #meet-team .team-member {
        padding: 13px;
        background: #eeeeee;
        border: 2px solid #eeeeee;
        transition: border-color 400ms;
        -webkit-transition: border-color 400ms;
    }

        #meet-team .team-member .team-img {
            margin: -15px -15px 0 -15px;
        }

        #meet-team .team-member .team-info {
            padding-bottom: 10px;
            border-bottom: 1px solid #dbdbdb;
            margin-bottom: 10px;
        }

        #meet-team .team-member:hover {
            border-color: #45aed6;
        }

            #meet-team .team-member:hover .social-icons > li > a {
                background: #45aed6;
            }

    #meet-team .social-icons {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        #meet-team .social-icons > li {
            display: inline-block;
        }

            #meet-team .social-icons > li > a {
                display: block;
                width: 32px;
                height: 32px;
                line-height: 32px;
                text-align: center;
                color: #fff;
                background: #222534;
                border-radius: 3px;
            }

.divider {
    margin-top: 50px;
    margin-bottom: 50px;
    background-image: -moz-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
    background-image: -webkit-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
    background-image: -ms-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
    width: 95%;
    height: 1px;
}

.progress {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #eeeeee;
}

    .progress .progress-bar.progress-bar-primary {
        background-image: -moz-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
        background-image: -webkit-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
        background-image: -ms-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
        -webkit-box-shadow: none;
        box-shadow: none;
    }

.nav.main-tab {
    background: #eee;
    border-bottom: 3px solid #222534;
    border-radius: 3px 3px 0 0;
}

    .nav.main-tab > li > a {
        color: #272727;
    }

    .nav.main-tab > li.active > a {
        background: #222534;
        color: #45aed6;
    }

    .nav.main-tab > li:first-child > a {
        border-radius: 3px 0 0 0;
    }

    .nav.main-tab > li:last-child > a {
        border-radius: 0 3px 0 0;
    }

.tab-content {
    border: 1px solid #F1AD1E;
    border-top: 0;
    padding: 20px 20px 10px;
    border-radius: 0 0 3px 3px;
}

.panel-default {
    border-color: #eee;
}

    .panel-default > .panel-heading {
        background-color: #fff;
        border-color: #eee;
    }

        .panel-default > .panel-heading .panel-title {
            font-size: 14px;
            font-weight: normal;
        }

        .panel-default > .panel-heading + .panel-collapse > .panel-body {
            border-top-color: #eee;
        }

#animated-number {
    padding: 100px 0 70px;
    background: #132125 url(../images/animated-number/bg.jpg) no-repeat 0 0;
    background-size: cover;
    color: #fff;
}

    #animated-number h1,
    #animated-number h2,
    #animated-number h3,
    #animated-number h4 {
        color: #fff;
    }

    #animated-number strong {
        display: block;
        margin-bottom: 30px;
    }

.animated-number {
    display: inline-block;
    width: 140px;
    height: 140px;
    font-size: 24px;
    line-height: 140px;
    border: 3px solid #fff;
    border-radius: 100px;
    margin-bottom: 20px;
}

#pricing {
    padding: 100px 0 70px;
}

    #pricing ul.pricing {
        list-style: none;
        padding: 0;
        margin: 70px 0 30px;
        border: 1px solid #eee;
        border-radius: 5px 5px 4px 4px;
        padding: 15px;
        text-align: center;
    }

        #pricing ul.pricing li {
            display: block;
            padding: 10px;
        }

            #pricing ul.pricing li.plan-header {
                background: #eee;
                border-radius: 4px 4px 0 0;
                margin: -15px -15px 10px;
                padding: 15px 15px 30px;
                border: 0;
            }

                #pricing ul.pricing li.plan-header .price-duration {
                    position: relative;
                    margin-top: -63px;
                    top: -10px;
                    display: inline-block;
                    width: 116px;
                    height: 116px;
                    background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
                    background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
                    background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
                    color: #fff;
                    border-radius: 100px;
                    border: 5px solid #f6f6f6;
                }

                    #pricing ul.pricing li.plan-header .price-duration > span {
                        display: block;
                        line-height: 1;
                    }

                        #pricing ul.pricing li.plan-header .price-duration > span.price {
                            font-size: 24px;
                            font-weight: 700;
                            margin-top: 35px;
                        }

                        #pricing ul.pricing li.plan-header .price-duration > span.duration {
                            margin-top: 5px;
                        }

                #pricing ul.pricing li.plan-header .plan-name {
                    margin-top: 10px;
                    font-size: 24px;
                    color: #272727;
                    font-weight: bold;
                    line-height: 1;
                    text-transform: uppercase;
                }

        #pricing ul.pricing.featured {
            background: #222534;
            color: #fff;
            border: 0;
        }

            #pricing ul.pricing.featured li.plan-header {
                background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
                background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
                background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
            }

                #pricing ul.pricing.featured li.plan-header .plan-name {
                    color: #fff;
                }

#get-in-touch {
    padding: 100px 0 50px;
    background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
    background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
    background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
    color: #fff;
}

    #get-in-touch h1,
    #get-in-touch h2 {
        color: #fff;
    }

#blog {
    padding: 0 0 20px;
}

    #blog .blog-post {
        border: 1px solid #eee;
        padding: 15px;
    }

        #blog .blog-post .post-format {
            display: inline-block;
            width: 40px;
            height: 40px;
            line-height: 34px;
            text-align: center;
            color: #fff;
            background: #222534;
            border: 3px solid #fff;
            border-radius: 100px;
        }

        #blog .blog-post.blog-large .entry-thumbnail {
            margin: -15px -15px 15px;
            position: relative;
        }

        #blog .blog-post.blog-large .post-format {
            width: 66px;
            height: 66px;
            line-height: 60px;
            position: absolute;
            right: 20px;
            bottom: -33px;
        }

            #blog .blog-post.blog-large .post-format > i {
                font-size: 20px;
            }

        #blog .blog-post.blog-large .entry-date {
            font-size: 12px;
            display: block;
            margin-bottom: 5px;
            text-transform: uppercase;
            color: #45aed6;
        }

        #blog .blog-post.blog-large .entry-title {
            margin-top: 0;
            font-size: 18px;
            line-height: 1;
            margin-bottom: 15px;
        }

            #blog .blog-post.blog-large .entry-title a {
                color: #64686d;
            }

                #blog .blog-post.blog-large .entry-title a:hover {
                    color: #45aed6;
                }

        #blog .blog-post.blog-media {
            margin-bottom: 30px;
        }

        #blog .blog-post.media-viewmore {
            height: 320px;
            border: 1px solid #eee;
        }

            #blog .blog-post.media-viewmore .img-fake {
                background-color: #eee;
                color: black;
                width: 100%;
                height: 210px;
            }

            #blog .blog-post.media-viewmore a:hover span, #blog .blog-post.media-viewmore a:hover h5 {
                color: #2C8CB3;
                text-decoration: none;
            }

        #blog .blog-post.blog-media .entry-thumbnail {
            position: relative;
        }

        #blog .blog-post.blog-media .post-format {
            position: absolute;
            top: 20px;
            right: -10px;
        }

        #blog .blog-post.blog-media .entry-date {
            font-size: 12px;
            display: block;
            margin: 5px 0;
            text-transform: uppercase;
            color: #45aed6;
        }

        #blog .blog-post.blog-media .entry-title {
            margin-top: 0;
            font-size: 18px;
            line-height: 1;
        }

            #blog .blog-post.blog-media .entry-title a {
                color: #64686d;
            }

                #blog .blog-post.blog-media .entry-title a:hover {
                    color: #45aed6;
                }

        #blog .blog-post.blog-media .entry-title-seo {
            font-weight: normal;
            font-size: 1.1em;
            line-height: 1.5;
            text-align: left;
        }

        #blog .blog-post .entry-meta {
            margin-top: 20px;
            border-top: 1px solid #eee;
            padding-top: 15px;
        }

            #blog .blog-post .entry-meta > span {
                display: inline-block;
                margin-right: 10px;
                color: #999;
            }

                #blog .blog-post .entry-meta > span > a {
                    color: #999;
                }

                    #blog .blog-post .entry-meta > span > a:hover {
                        color: #45aed6;
                    }

#contact {
    position: relative;
    overflow: hidden;
}

    #contact .container-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(69, 174, 214, 0.3);
        z-index: 1;
    }

    #contact .contact-form {
        background: rgba(255, 255, 255, 0.8);
        padding: 20px;
        margin-top: 50px;
    }

        #contact .contact-form h3 {
            margin-top: 0;
        }
/***********************
********* Footer ******
************************/
#footer {
    padding-top: 30px;
    /*padding-bottom: 30px;*/
    color: #fff;
    background: #f7931d;
}

    #footer a {
        color: #fff;
    }

        #footer a:hover {
            color: #45aed6;
        }

    #footer ul {
        list-style: none;
        padding: 0;
        margin: 0 -7.5px;
    }

        #footer ul > li {
            display: inline-block;
            margin: 0 7.5px;
        }

@media only screen and (min-width: 768px) {
    #footer .social-icons {
        float: right;
    }
}

.form-control {
    box-shadow: none;
    -webkit-box-shadow: none;
}

/*acticle form main*/
.service-box-pad {
    margin: 5px;
    background-color: #F1F1F1;
    padding-top: 10px;
    border: 1px solid #ccc;
    /*height:188px;*/
    max-height: 155px;
}

.media, .media-body {
    /*overflow: inherit;*/
    zoom: 1;
}

.media-description {
    height: 80px;
}

.media-heading {
    font-weight: normal;
    text-transform: uppercase;
    /*width:192px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;*/
    display: table-cell;
    text-overflow: ellipsis;
    overflow: hidden;
}

.img-thumbnail-post {
    width: 100%;
    height: 320px;
    background-image: none;
    background-position: center center;
    background-size: cover;
    border: 1px solid #EEEEEE;
}

html {
    position: relative;
    min-height: 100%;
}

img {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    max-width: 100% !important;
}
#lightbox img {
    max-width: inherit!important;
}
/*#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;
}*/


.cat-box {
    padding-left: 30px;
}

    .cat-box .cat-item {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

        .cat-box .cat-item a {
            color: black;
        }

            .cat-box .cat-item a > span {
                color: #0ba2eb;
                font-weight: 600;
                padding-right: 10px;
            }

.column-title:after {
    content: " ";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 30%;
    border-bottom: 3px solid #45aed6;
}

ul.post-list {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

    ul.post-list li i.fa {
        color: #0ba2eb;
        font-weight: 600;
    }

    ul.post-list li a {
        color: #767676;
        padding-left: 10px;
    }

        ul.post-list li a:hover {
            color: #0ba2eb;
        }

.tag {
    border: 1px solid #00bfff;
    background-color: #0ba2eb;
    color: white;
    border-radius: 50px;
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}


/*------------------------------------------------*/
/*----------------------MENU----------------------*/
/*------------------------------------------------*/
#main-menu.navbar-default .navbar-nav li ul {
    background-color: #F8F8F8;
    position: absolute;
    left: 0;
    top: 44px; /* make this equal to the line-height of the links (specified below) */
    width: 300px;
    z-index: 10;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    border-top: 0;
    color: #777;
}

#main-menu.navbar-default .navbar-nav li li {
    position: relative;
    margin: 0;
    display: block;
    line-height: 3;
    padding-left: 10px;
}

    #main-menu.navbar-default .navbar-nav li li:hover {
        background-color: #beddee;
        color: #2c8cb3;
    }

        #main-menu.navbar-default .navbar-nav li li:hover > a {
            color: #2c8cb3;
        }

    #main-menu.navbar-default .navbar-nav li li ul {
        position: absolute;
        top: 0;
        left: 298px; /* make this equal to the width of the sub nav above */
        margin: 0;
        z-index: 10;
    }

    /* style all links */
    /*#main-menu.navbar-default .navbar-nav li a {
    line-height:40px;
    padding:0 12px;
    margin:0 12px;
}*/

    /* style sub level links */
    #main-menu.navbar-default .navbar-nav li li a {
        color: #777;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #main-menu.navbar-default .navbar-nav li li:last-child a {
        border-bottom: none;
    }

/* hide sub menu links */
ul.sub-menu {
    display: none;
}

/* show arrows for dropdowns */
#main-menu.navbar-default .navbar-nav li li.dropdown::before {
    content: "\f105";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding-right: 10px;
    color: #777;
    float: right;
}

.post-list-right {
    padding-top: 0;
}

    .post-list-right h3 {
        font-size: 1.3em;
        font-weight: normal;
        margin-top: 0;
    }


/*re-config*/
@media (min-width: 1200px) {
    .container {
        width: 85% !important;
    }
}

.effect6 {
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.box-shadow:before, .box-shadow:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.8);
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
    top: 50%;
    bottom: 0;
    left: 10px;
    right: 10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
}

.box-shadow:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
}

.wpb_wrapper {
    padding-right: 10px;
}

.rss_title {
    font-size: 0.7em;
}

.wpb_wrapper .feedzy-rss ul {
    margin-left: 15px;
    padding-left: 0;
}

@media screen and (max-width: 765px) {
    .footer-mid {
        display: none;
    }
}
/*Responsive*/
@media screen and (max-width: 767px) {
    #main-menu.navbar-default .navbar-nav li ul, #main-menu.navbar-default .navbar-nav li li ul {
        position: relative;
        top: 0px;
        width: 100%;
    }

    #main-menu.navbar-default .navbar-nav li li ul {
        left: 0;
        border: none;
    }

    #main-menu.navbar-default .navbar-nav li li a {
        padding-left: 20px;
        font-size: 0.8em;
        border: none;
    }

    #main-menu.navbar-default .navbar-nav li li li a {
        padding-left: 40px;
        font-size: 0.7em;
        border: none;
    }

    #main-menu.navbar-default .navbar-nav li li:hover {
        background-color: transparent;
    }

    #main-menu.navbar-default .navbar-nav li ul {
        border: none;
    }
}

.posts {
    text-align: justify;
    /*color: #808080;*/
}

    .post p, .posts p {
        padding: 2px 15px;
    }

    .posts img {
        height: auto !important;
    }

.searchinput {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background: #f5f6f5;
    border: none;
    padding: 5px;
    outline: none;
}

.searchbutton {
    border: 0;
    background: none;
    position: absolute;
    right: 6%;
}
.icon-fb, .Facebook {
  background: url(../images/icon-fb.png) no-repeat center;
  background-size: 50px;
  height: 50px;
  width: 50px;
}
.icon-in, .Instagram {
  background: url(../images/icon-in.png) no-repeat center;
  background-size: 50px;
  height: 50px;
  width: 50px;
}
.icon-chat, .Zalo {
  background: url(../images/icon-chat.png) no-repeat center;
  background-size: 50px;
  height: 50px;
  width: 50px;
}
.Youtube {
    background: url(../images/icon-youtube.png) no-repeat center;
    background-size: 50px;
    height: 50px;
    width: 50px;
}
.App {
    background: url(../images/icon-app.png) no-repeat center;
    background-size: 50px;
    height: 50px;
    width: 50px;
}

.icon-footer {
    text-indent: -99999px;
}
